@import "normalize";
@import "variables";
@import "breakpoints";
@import "mixin";
@import "map";
@import "loading";


body {
  background: #f2f2f2;
  padding-bottom: 100px;

  .navbar {
    background-color: $darkGreen !important;

  }

  .customHeader {
    height: 100px !important;

    .title {
      font-size: 2.5rem;
    }

    img {
      width: 100px;
    }

    ul {
      span {
        font-size: 1.5rem;
        color: white;
      }

      li {
        a {
          font-size: 1.5rem;
          color: white;
          line-height: 100%;
          padding: 5px;
          @include set_transition(all $transitionTime ease);
        }

        a:hover {

          text-decoration: underline;
          text-underline-offset: 5px;
          @include set_transition(all $transitionTime ease);
        }
      }
    }
  }

  .customHeroImage {
    background-image: url('../img/vegetablecrops.jpeg');
    height: 310px !important;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    @include min_lg {
      @include set_transition(all $transitionTime ease);
      justify-content: flex-end;
    }

    .hero-text {
      margin-right: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: $generalRadius;
      text-align: left;
      padding: 30px 20px;
      max-width: 500px;

      h1, h2, h3, h4, p {
        color: white;
        line-height: 100%;
      }

      p {
        text-align: justify;
      }

      @include min_md {
        @include set_transition(all $transitionTime ease);
        width: 85%;
      }
      @include min_lg {
        @include set_transition(all $transitionTime ease);
        width: 52%;
      }
      @include min_xl {
        @include set_transition(all $transitionTime ease);
        width: 49%;
      }
      @include min_hg {
        @include set_transition(all $transitionTime ease);
        width: 45%;
      }
    }


  }

  .predictionsIcons {
    //height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 12px;

    h1, h2, h3, h4, h5 {
      font-size: 90px;
    }

  }

  .customFooterHeroImage {
    background-image: url('../img/footerimage.jpeg');
    height: 400px !important;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .hero-text {
      margin-right: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: $generalRadius;
      text-align: left;
      padding: 30px 20px;
      max-width: 90%;

      h1, h2, h3, h4, p {
        color: white;
        line-height: 100%;
      }

      p {
        text-align: justify;
      }

      @include min_md {
        @include set_transition(all $transitionTime ease);
        width: 85%;
      }
      @include min_lg {
        @include set_transition(all $transitionTime ease);
        width: 70%;
      }
      @include min_xl {
        @include set_transition(all $transitionTime ease);
        width: 65%;
      }
      @include min_hg {
        @include set_transition(all $transitionTime ease);
        width: 60%;
      }
    }

  }

  .aboutContainer {
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
  }

  .avatar {
    vertical-align: middle;
    width: $avatarSize;
    height: $avatarSize;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $cartufa;
  }

}

.card-text {
  font-size: 1rem;
}

.burger-menu {
  cursor: pointer;
  img, svg {
    width: 50px;
    height: 50px;
  }
}

.submenu{
  width: 100%;
  background-color: $helecho;
  padding: 12px 15px;
  a{
    color: white;
    font-size: 1.5rem;
    @include set_transition(all $transitionTime ease);
  }
}